/*? Styles of Facebook Login Page  */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f0f2f5;
}

body {
    display: flex;
    width: 100%;
    height: 125vh;
    flex-direction: column;
}

.container {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

/*? left Part */
.left {
    display: flex;
    flex-direction: column;
}

.logo {
    height: 105px;
    width: 300px;
    background-image: url(./img/fb-icon.svg);
    background-repeat: no-repeat;
    margin-left: -28px;
}

.left h2 {
    width: 500px;
    font-size: 28px;
    font-weight: 500;
}


/*? Right-part */
.right {
    width: 400px;
    display: flex;
    flex-direction: column;
}

.login {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: #ffffff;
    box-shadow: 0.5px 0.5px 10px 0px rgb(211, 211, 211);
    border-radius: 8px;
    height: 350px;
    width: 100%;
    margin-top: 58px;
    padding: 10px 16px 0px;
}

.login input,
a,
button {
    margin: 0px 0px 9px;
}

.email-password {
    background-color: #ffffff;
    height: 50px;
    width: 100%;
    border: 0.1px solid rgb(218, 218, 218);
    border-radius: 6px;
    font-size: 17px;
    font-weight: 98px;
    padding-left: 15px;
}

input:focus {
    outline: none;
    border: 1px solid #1877f2;
}

.email-password::placeholder {
    color: rgb(147, 147, 147);
}

.login-btn {
    background-color: #1877f2;
    color: white;
    height: 50px;
    width: 100%;
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    border: none;
    border-radius: 6px;
}

.login-btn:hover {
    cursor: pointer;
}

.login a {
    background-color: #ffffff;
    text-decoration: none;
    color: #1877f2;
    font-size: 14px;
    text-align: center;
}

.login a:hover {
    cursor: pointer;
    text-decoration: underline;
}

.create-btn {
    background-color: #42b72a;
    color: white;
    height: 50px;
    width: 190px;
    font-size: 17px;
    font-weight: 700;
    text-align: center;
    border: none;
    border-radius: 6px;
    transition: 0.1s ease-in-out;
}

.create-btn:hover {
    background-color: #3ba327;
    cursor: pointer;
}

.line {
    padding-top: 20px;
    border-top: 1px solid rgb(197, 197, 197);
    background-color: white;
    width: 100%;
    display: flex;
    justify-content: center;
}

.text-part {
    margin-top: 28px;
    font-size: 14px;
    text-align: center;
}


/*? Footer Part  */
.footer-part {
    background-color: #FFFFFF;
    height: 180px;
    width: 100%;
    padding: 25px 200px 20px;
}

.lang {
    background-color: #FFFFFF;
}

.lang a {
    padding-right: 10px;
    font-size: 12px;
    color: #8A8D91;
    background-color: #FFFFFF;
    text-decoration: none;
}

.lang a:hover {
    text-decoration: underline;
}

i {
    padding-top: 3px;
    color: grey;
    border: 1px solid rgb(179, 179, 179);
    text-align: center;
    height: 20px;
    width: 30px;
    border-radius: 3px;
}

i:hover {
    cursor: pointer;
}

.footer-part hr {
    margin-top: 7px;
    border: 0.1px solid rgb(226, 226, 226);
}

.foot-links {
    background-color: #FFFFFF;
    padding-top: 10px;
}

.foot-links a {
    background-color: #FFFFFF;
    text-decoration: none;
    color: #8A8D91;
    font-size: 12px;
    padding-right: 20px;
}

.foot-links a:hover {
    text-decoration: underline;
}

.foot-links p {
    background-color: #FFFFFF;
    color: #8A8D91;
    font-size: 11px;
    margin-top: 22px;
}


/*? ---------------------------------- Media Query for 1080px -----------------------------------------------------------------*/

@media screen and (max-width: 1080px) {
    .container {
        flex-direction: column;
        height: 100vh;
        align-self: center;
        padding-bottom: 100px;
    }

    /*? Media Query - left Part */
    .left {
        width: 600px;
        align-items: center;
        align-content: center;
    }

    .logo {
        height: 305px;
        width: 800px;
        margin-left: -28px;
    }

    .left h2 {
        width: 600px;
        font-size: 40px;
        font-weight: 500;
    }


    /*? Media Query - Right-part */
    .right {
        width: 400px;
        display: flex;
        flex-direction: column;
    }

    .login {
        height: 650px;
        width: 800px;
        align-self: center;
        padding: 30px;
    }

    .email-password {
        height: 98px;
        border: 0.1px solid rgb(218, 218, 218);
        font-size: 34px;
    }

    .login-btn {
        height: 98px;
        font-size: 40px;
    }

    .login a {
        font-size: 28px;
    }

    .create-btn {
        height: 90px;
        width: 300px;
        font-size: 26px;
    }

    .text-part {
        width: 500px;
        font-size: 20px;
        display: flex;
    }


    /*? Media Query - Footer  */
    .footer-part {
        display: none;
    }
}
